  .add {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* align-items: flex-start; */
    /* padding-left: 40px; */
    margin-top: 2vh;
  }
  
  .add1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* align-items: flex-start; */
    padding-left: 40px;
    margin-top: 2vh;
    margin-bottom: 2vh;
  
  
  }
  
  .btn {
    position: static;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
  }
  
  .main {
    display: flex;
    margin-top: 2vh;
    /* border: 1px solid black; */
    justify-content: space-around;
    background-color: white;
    }
  
 
  .middleLOI {
    /* background-color: darkolivegreen; */
    margin-top: 5vh;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    width: 50%;
    /* width: 25%; */
    justify-content: center;

    /* justify-content: center; */
  
    align-items: center;
  }
 
  .middle {
    /* background-color: darkolivegreen; */
    margin-top: 5vh;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    width: 50%;
    /* width: 25%; */
    justify-content: center;
    border: 1px solid #000;

    /* justify-content: center; */
  
    align-items: center;
  }
  .middle h5{
    font-weight: 100;
  }
  
  .left {
    width: 30%;
    margin-left: 3vw;
  }
  
  .logo {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    width: 20%;
    /* margin: 1vw; */
    margin-left: 0 !important;
    margin-bottom: 1vw;
    margin-top: 4vw;
    /* padding-left: 3vw; */
    /* justify-content: space-evenly; */
  }
  
  .logoLOI {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    width: 20%;
    margin: 1vw;
    margin-left: 0 !important;
    margin-bottom: 1vw;
    margin-top: 4vw;
    padding-left: 3vw;
    /* justify-content: space-evenly; */
  }
  
 
  
  .small {
    display: flex;
    width: 70vw;
    /* height: 70vw; */
    flex-direction: column;
    /* border: 1px solid black; */
  }
  .add8 {
    display: flex;
    justify-content: space-evenly;
    
  }
  /* .receipt {
    border: 1px solid black;
  } */
  .one {
    display: flex;
    justify-content: space-around;
    /* margin: auto; */
    /* border: 1px solid black; */
  }
  
  /* .order {
    margin-left: 2vw;
    border: 1px solid black;
    width: 60%;
    height: 25vh;
    padding: 2vh;
  } */
  .bottomContainer {
    display: flex;
    flex-direction: row;
    margin-top: 9vh;
  }
  
  .enquiry {
    display: flex;
    flex-direction: column;
    /* margin-top: 9vh; */
  }
  
  .btn {
    display: flex;
    justify-content: space-evenly;
    margin: 5vh;
  }
  
  .date {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
  }

  .date1{
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  

  
  .signature {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* margin-top: 9vh; */
    /* margin-left: auto; */
    margin-left: auto;
  }
  
  
  
  .btn {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
  }
/*   
  .table tr td th {
  } */
  
  .table {
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;
  }
  .tr{
    border: 1px solid;

  }
  .td{
    border: 1px solid;

  }
  .th{
    border: 1px solid;

  }

  .head{
    text-align: center;
  }
  .sub{
    display: flex;
  }
  .box{
    border: 2px dotted ;
    height: 70vw;
    padding: 20px;
  }
  .contact{
    text-align: end;
    
  }