.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}
.topcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}

.h3 {
  font-size: 1.7vw;
  font-weight: bold;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.buttons {
  display: flex;
  justify-content: space-around;
}
