.drawerIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.appIcon {
  display: flex;
  /* align-items: flex-end; */
  justify-content: center;

}

.appNameContainer {
  display: flex;
  flex-direction: column !important;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
}

.title1 { font-size: 1rem !important}
.title2 { font-size: 0.875rem !important}

.menuIcon {
    display: flex;
    justify-content: flex-end;
}

.menuList  {
    display: flex; flex-direction: column 
}

.menuTitle {
    font-weight: 600 !important
}

.menuTitleContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.language:hover {
  cursor: pointer;
  margin-right: "10px ";
}

.chotuContainer {
  margin-right: "10px ";
  /* background-color: rgba(255, 255, 255, 0.3); */
  text-decoration: underline;
  text-decoration-color: white;
}


/* background image blue style*/

.backgroundImageCVR{
  position:relative;
  padding:15px;
}
.backgroundImage{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background:url('https://punemirror-dev.s3.ap-south-1.amazonaws.com/full/cc4349b6baf91888c72d7604daa8aad15df6eb82.jpg');
  /* background:url(`https://punemirror-dev.s3.ap-south-1.amazonaws.com/full/cc4349b6baf91888c72d7604daa8aad15df6eb82.jpg`); */
  background-size:cover;
  z-index:1;
  -webkit-filter: blur(10px);
-moz-filter: blur(10px);
-o-filter: blur(10px);
-ms-filter: blur(10px);
filter: blur(10px);   
}
.content{
  position:relative;
  z-index:1;
  color:#fff;
}