.main {
  padding: 3%;
}

.title {
  background: linear-gradient(to right, #125597, #9ccdff);
  color: white;
  padding: 25px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: larger;
  border-radius: 20px;
}

.subTitle {
  background: linear-gradient(to right, #125597, #9ccdff);
  color: white;
  margin-top: 20px;
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: medium;
  border-radius: 10px;
}

.subTitle2 {
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
}

.stepperHeader {
  width: 40%;
  background: linear-gradient(to right, #125597, #9ccdff);
  color: white;
  margin-top: 20px;
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: medium;
  border-radius: 20px;
}

.table {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  margin-top: 20px;
  padding: 0% 3%;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.buttonGroup {
  display: flex;
  column-gap: 20px;
}

.buttons {
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
}

.stepperButtons {
  width: 100%;
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
}
